# Consul Agent (Upstart unit)
description "Consul Agent"
start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

exec /usr/local/bin/consul agent {{ consul_extra_opts }} -data-dir {{ consul_data_dir }} -config-dir {{ consul_conf_dir }} -node={{ ansible_hostname }} -bind={{ consul_bind_ip }} -client=0.0.0.0 >{{ consul_logs_dir }}/consul.log 2>&1 &
respawn
respawn limit 10 10
kill timeout 10
