description "Consul Agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [!12345]

setuid consul
setgid consul

## Restart the process if it dies with a signal or exit code not given by the 
## 'normal exit' stanza.
respawn

## Give up if restart occurs 10 times in 15 seconds.
respawn limit 10 15

## Potential workaround for:
##     [ERR] memberlist: Error accepting TCP connection: accept tcp 10.59.11.96:8301: accept4: too many open files
limit nofile 40960 40960

{% set consul_conf_subdir = 'server' %}
{% if consul_node_type == 'client' %}
{% set consul_conf_subdir = 'client' %}
{% endif %}
exec {{ consul_bin_dir }}/consul agent -config-dir {{ consul_conf_dir }}/{{ consul_conf_subdir }} > {{ consul_logs_dir }}/consul.log 2>&1
