{
    "bootstrap_expect":    {{ consul_bootstrap_expect }},
    "server": 	           true,
    "datacenter":          "{{ consul_datacenter|mandatory }}",
    "data_dir":            "{{ consul_data_dir }}",
    "bind_addr":           "{{ consul_bind_ip }}",
    "client_addr":         "0.0.0.0",
    "node_name":           "{{ ansible_hostname }}",
    "encrypt":             "{{ consul_encrypt_key }}",
    "log_level":           "{{ consul_log_level }}",
    "enable_syslog":       {{ consul_enable_syslog|default(false)|bool|lower }},
    "leave_on_terminate":  {{ consul_leave_on_terminate|default(false)|bool|lower }},
    "start_join":          [ "{{ consul_nodes|join('", "') }}" ]
}
